button{
    width: fit-content;
    height: 50px;
    border: 2px solid green;
    border-radius: 15px;
}

button:hover{
    background-color: darkblue;
    color: white;
}

.darkMode{
    background-color: black;
    color: whitesmoke;
}

.lightMode{
    background-color: whitesmoke;
    color: black;
}