button{
    background-color: black;
    color: white;
    width: fit-content;
    height: 50px;
    border: 2px solid green;
    border-radius: 15px;
}

button:hover{
    background-color: darkblue;
    color: white;
}