.container{
    /* background-color: grey; */
    width: 15em;
    margin: 0 0.2em;
    float: left;
    position: relative;
}

.deleteV{
    position: absolute;
    right: 90px;
}

.pic img{
    width: 10vw;
}
.title{
    font-weight: bold;
    margin-bottom: 1em;
    color: white;
}
.channel, .views{
    font-size: small;
    color: #ccc;
    margin-bottom: 0.2em;
}

.views span {
    padding: 0 0.5em;
}

.channel img{
    width: 14px;
}