.App{
  /* background-color: black; */
  width: 100%;
  height: 100vh;
}

.darkMode {
  background-color: black;
  color: whitesmoke;

  button,
  input {
    background-color: black;
    color: whitesmoke;
  }
}

.lightMode {
  background-color: whitesmoke;
  color: black;

  button,
  input {
    background-color: whitesmoke;
    color: black;
  }
}